@model EProjects_III.Models.Discount

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Add New Discount </h6>
        <form asp-controller="Discounts" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="DiscountName" class="control-label"></label>
                <input asp-for="DiscountName" class="form-control" />
                <span asp-validation-for="DiscountName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DiscountPercent" class="control-label"></label>
                <input asp-for="DiscountPercent" class="form-control" />
                <span asp-validation-for="DiscountPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <br /> <input asp-for="Active" type="radio" value="True" /> Activated
                <br /> <input asp-for="Active" type="radio" value="false" /> Finished
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>

            <div class="card-footer">
                <button class="btn btn-outline-success m-2" type="submit">Ghi thông tin</button>
                <a class="btn btn-outline-info m-2" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

